
.CreateProductHead{

    font-size: 25px;
    font-family: "Space Mono", monospace;
    padding: 25px 25px 0px 25px;

}

.CreateProductBtn{
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    background-color: black;
    color: white;
    font-family: "Space Mono", monospace;
    padding: 10px 20px;
}