
.AboutProduct{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

.AboutProductContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.AboutProductContainerHead{
    font-family: "Space Mono", monospace;
    color: black;
    font-size: 16px;
}

.AboutProductContainerPara{
    font-family: "Space Mono", monospace;
    color: black;
    font-size: 14px;
}