
.AddImage{
    margin: auto;
    width: max-content;
    padding: 10px;
    background-color: aquamarine;

}

.AddImageInp{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: black;
}