
.GreetingText{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Space Mono", monospace;
    margin-top: 20px;
}

.GreetingTextHead{
    padding-top: 40px;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -3px;
    text-align: center;
}

.GreetingTextPara{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
    text-align: center;     
}

@media screen and (max-width: 768px) {
    .GreetingTextHead{
        font-size: 30px;
        letter-spacing: -1px;
    }
    .GreetingTextPara{
        letter-spacing: 0px;
        font-size: 15px;

    }
}