
.CartPage{
    color: white;
    width: 70%;
    margin: auto;
}

.CartPageHead{

    text-align: center;
    font-size: 30px;
    margin-top: 200px;
    margin-bottom: 50px;
    font-family: "Space Mono", monospace;
}

.CartPageProducts{

    
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    border-top: 1px solid rgba(248, 248, 255, 0.673);
    border-bottom: 1px solid rgba(248, 248, 255, 0.673);

}

.CartPageProductsLeft{
    flex: 2;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.CartPageProductLeftContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Space Mono", monospace;
}

.CartPageProductsLeftImg{

    width: 100px;
    height: 100px;

}

.CartPageProductsLeftImg img{
    padding: 10px;
    width: 100%;
    height: 100%;
}

.CartPageProductLeftContentNamePara{

    font-size: 16px;
    color: white;
    font-weight: 400;
    font-family: "Space Mono", monospace;

}

.CartPageProductLeftContentTypes{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.CartPageProductsLeftContentPara{
    font-size: 14px;
    font-family: "Space Mono", monospace;

}

.CartPageProductsRight{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.CartPageProductsRightAddAndRemove{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: "Space Mono", monospace;
    font-size: 15px;
}

.CartPageProductsRightAddAndRemoveBtns{
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    border: 1px rgba(248, 248, 255, 0.673) solid;
}

.CartPageProductsRightAddAndRemoveBtnsSub{
    color: gainsboro;   
    color: gainsboro;   
    font-size: 18px;
}
.CartPageProductsRightAddAndRemoveBtnsAdd{
    color: gainsboro;   
    font-size: 18px;
}
.CartPageProductsRightAddAndRemoveBtnsCount{
    color: white;
    font-size: 14px;
}

.CartPageProductsRightAddAndRemoveRemoveBtn{
    color: gainsboro;   
    font-size: 13px;
}

.CartPageProductsRightAddAndRemoveRemoveBtn:hover{
    color: white;   
    cursor: pointer;
    text-decoration: underline;
}

.CartPageProductsRightPrice{
    font-size: 16px;
    font-family: "Space Mono", monospace;
}


.CartPageTotalSection{
    margin-top: 35px;
    display: flex;
    gap: 35px;
    flex-direction: column;
    align-items:end;
}

.CartPageTotalSectionContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 300px;
}

.CartPageTotalSectionContentPara{
    font-size: 20px;
    font-family: "Space Mono", monospace;
}

.CartPageTotalSectionBtn{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    
}

.CartPageTotalSectionBtn button{
    padding: 20px;
    outline: none;
    border: none;
    font-family: "Space Mono", monospace;
    width: 100%;
    font-size: 16px;
}

.CartPageTotalSectionBtn button:hover{
    cursor: pointer;
}