
.InputSelect{
    width: 100%;
    /* padding: 15px; */
    border: 2px solid white;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    /* Remove default arrow */
    background-image: url(...);
    /* Add custom arrow */
    padding-right: 15px;    
    /* margin-right: 10px; */
}

.InputSelectSelect{
    font-family: "Space Mono", monospace;
    outline: none;
    border: none;
    width: 100%;
    padding: 15px;
    color: black;
    background-color: black;
    color: white;
}

.InputSelectSelectOption{
    color: white;
    /* background-color: ; */
}

.InputSelectPara{

    /* color: white; */
    font-size: 14px;

}
