
.Featured{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FeaturedHead{
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: "Space Mono", monospace;
}

.FeaturedItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

@media screen and (max-width: 768px) {

    .Featured{
        width: 100%;
    }

}