
#root{

    background-color: rgb(0, 0, 0);
    
}
  
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
}
